<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">SIGN IN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-list class="ion-no-border">
      <ion-list-header mode="ios" class="ion-no-padding">
        <ion-label class="ion-text-center">Welcome back! 👋</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-input
          label="CPF"
          labelPlacement="floating"
          [(ngModel)]="signInData.cpf"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Password"
          labelPlacement="floating"
          [(ngModel)]="signInData.password"
          [type]="showPassword ? 'text' : 'password'"
          required
        ></ion-input>
        <ion-icon
          slot="end"
          [name]="showPassword ? 'eye-off' : 'eye'"
          (click)="togglePassword()"
          aria-label="Toggle password visibility"
        ></ion-icon>
      </ion-item>
    </ion-list>

    <br /><br />

    <div class="ion-text-center">
      <a routerLink="/sign-up">Don't have an account?</a>
    </div>

    <br /><br />

    <ion-button expand="block" (click)="signIn()"> Login </ion-button>
  </div>
</ion-content>
